.diagonal {
    --skew-angle: -5deg;
    --background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    position: relative;
    isolation: isolate;
}

.diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}